<div class="container">
  <a [routerLink]="['/products']"><- Back to search</a>
  @let product = product$ | async;
  @if(product) {
  <div class="row mt-3">
    <div class="col-4">
      <div class="product-image-container">
        <img class="product-image border rounded" src="https://img.magnific.com/free-vector/sticker-set-mixed-daily-objects_1308-108542.jpg?semt=ais_hybrid&w=740&q=80">
      </div>
    </div>
    <div class="col">
      <h2>{{ product.name }}</h2>
      <p>{{ product.description }}</p>
      <hr>
      <div class="d-flex justify-content-between align-items-center">
        <h4>{{ price$ | async | currency }} {{ discountAmount$ | async | discountAmount}}</h4>
        <div
          class="input-group mb-3 add-form"
          ngbTooltip="Fai il Login per procedere"
          [disableTooltip]="!!user()">
            <input
              type="number"
              class="form-control"
              style="width: 60px;"
              [formControl]="quantityInput"
              [class.is-invalid]="quantityInput.invalid"
            >
            <button
              type="button"
              class="btn btn-primary"
              [disabled]="quantityInput.disabled || quantityInput.invalid"
              (click)="addToCart(product.id)"
              [disabled]="!user()"
            >Add</button>
        </div>
        <div class="invalid-feedback">
          Min 0
        </div>
      </div>
    </div>
  </div>
  }
</div>
