<div class="card mt-2">
  <div class="card-body">
    <h5 class="card-title">{{ product().name }}</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{price() | currency }}</h6>
    <p class="card-text">{{ product().description }}</p>
    <a class="btn btn-link" (click)="goToDetail()">details</a>
  </div>
  <div class="card-footer text-muted text-end">
    <span ngbTooltip="Fai il Login per procedere" [disableTooltip]="!!user()">
      <input
        type="number"
        [(ngModel)]="quantity"
        class="product-card-quantity"
        [disabled]="!user()" >
      <button
        class="btn btn-link"
        (click)="add()"
        [disabled]="!user()"
      >Add</button>
    </span>
  </div>
</div>
